@media (min-width: 480px) {

  .viz-overlay-tip {
    display: inline-block;
  }

}

@media (min-width: 800px) {

  .viz-ui {
    margin: 0 5% 30px;
    padding: 20px;
    height: 100px;
  }

  .sv-ui-container {
    height: 150px;
    left: 5%;
    margin: 0;
  }

  .viz-overlay-tip {
    padding: 10px 20px 10px;
    height: 100px;
  }

  .viz-overlay-tip table td {
    padding: 4px 12px 0;
    font-size: 14px;
    line-height: 20px;
  }

  .viz-ui button {
    padding: 6px 12px;
    font-size: 14px;
  }

  .viz-overlay-tip hr {
    margin: 4px 0;
  }
}
