<h2>Feedback</h2>
    <form action="" autocomplete="on" class="feedback">
    	<label for="name">Name (required)</label>
        <input type="text" name="name" required />
        <label for="email">Email address (required)</label>
        <input type="email" name="email" required />
        <label for="type">Comment type (required)</label>
        <select name="type" required>
       	      <option value="Indicators and Data">Indicators and Data</option>
              <option value="Methodology">Methodology</option>
              <option value="Countries covered">Countries covered</option>
              <option value="Visualisation and Presentation of the Index">Visualisation and Presentation of the Index</option>
              <option value="Other/General comment">Other/General comment</option>
              <option value="New">New</option>
        </select>
        <label for="comment">Comment (required)</label>
        <textarea name="comment" cols="40" rows="10" required></textarea>
        <input type="submit" value="Send" />
    </form>
